@use "../../styles/variables.scss" as variables;
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: variables.$gray;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: variables.$gray-100;
  border-radius: 25px;
  overflow: visible;
  font-size: 1vw;
}

.square img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid variables.$black;
  border-radius: 2em;
  width: 30%;
  height: 30%;
}
