$green: #27c722;

:host {
  display: block;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 90%;
  margin-top: 20px;
}
.action-button {
  background: transparent;
  color: $green;
  border: none;
  cursor: pointer;
}
