$green: #27c722;

.page-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1%;
  width: 100%;
  justify-content: center;
  padding: 3% 5% 0 3%;
}
.sidebar {
  width: 20%;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-sub {
  background-color: #fafafa;
  padding: 15px 0 5px 15px;
  font-weight: 600;
  width: 100%;
  margin-right: 10%;
  border-radius: 0 20px 20px 0;
  height: 30%;
}
.addresses-table {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
}
.border {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 85%;
}
.add-address-button {
  border: 1px solid $green;
  border-radius: 30px;
  color: $green;
  height: 55px;
  width: 260px;
}
.image {
  height: 25.6vh;
  width: 13vw;
}
.load-address-button {
  background-color: white;
  border: 1px solid $green;
  border-radius: 30px;
  font-size: 1.6vh;
  color: $green;
  height: 5.8vh;
  width: 13.5vw;
}
.add-mission-button {
  border: 1px solid $green;
  border-radius: 30px;
  color: $green;
  background: transparent;
  height: 5.8vh;
  width: 13.5vw;
}
@media only screen and (max-width: 840px) {
  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 95%;
  }
  .sidebar-sub {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .addresses-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .address-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  app-missions-table {
    margin-left: 10%;
  }
  .load-address-button,
  .add-mission-button {
    font-size: 11px;
    width: 90px;
  }
}
